[Unit]
Description=Knowdy Json Gateway Service
After=network.target

[Service]
Type=simple
User=json-gateway
ExecStart=/usr/bin/knd-json-gateway -s -v